extends layout
append head
  link(rel="stylesheet" href="/stylesheets/haunts.css")
block content
  h1= "All of the haunts"
    br
    h2="Historical"
      br
      each haunt in haunts
        div(class= 'historical hauntCard')
          a(href="/haunts/1")
            img(src='/images/image-' + haunt.id + '.jpeg' alt='image')
            br
            a(href="/haunts/" + haunt.id)= haunt.title
            p= haunt.score
    h2="Outdoors"
      br
      each haunt in haunts2
        div(class= 'outdoors hauntCard')
          img(src='/images/image-' + haunt.id + '.jpeg' alt='image')
          br
          a(href="/haunts/" + haunt.id)= haunt.title
          p= haunt.score
    h2="Asylum"
      br
      each haunt in haunts3
        div(class= 'asylum hauntCard')
          img(src='/images/image-' + haunt.id + '.jpeg' alt='image')
          br
          a(href="/haunts/" + haunt.id))= haunt.title
          p= haunt.score
