extends layout.pug
append head
    link(rel="stylesheet" href="/stylesheets/profile.css")
block content
    div
        h1= currentUser.fullName + "'s Profile"
        p(class="profile-text")="Name: " + currentUser.fullName
        if(user && user.id == currentUser.id)
            p(class="profile-text")="Email: " + user.email
    div
        h2(id="haunt-title")= "Haunt Lists"
        div(id="deleteButtons")
            if(user && user.id == currentUser.id)
                button(id="create") Create a Hauntlist
                button(id="delete") Delete a Hauntlist
        ul
            if (hauntlists.length)
                each hauntlist in hauntlists
                    div(class="checkBoxes-line")
                        li(id=hauntlist.id)
                            a(href="/hauntlists/" + hauntlist.id)= hauntlist.title + " (" + hauntlists.length + ")"
            else
                p= "No haunt lists to show yet!"
    div(id="createHauntlistPopup" class="hide")
        div(id="popupInputs")
            span(id="closePopup") &times;
            h2 Create a Hauntlist
            form(action="/hauntlists", method="post")
                label(for="title") Title:
                input(type="text" name="title")
                button Create Hauntlist

    script(src="/javascripts/profile.js")

block footer
