extends layout.pug
include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/profile.css")
block content
    div
        h1= currentUser.fullName + "'s Profile"
        br
        div(class="profile-card")
            p(class="profile-text")="Name: " + currentUser.fullName
            if(user && user.id == currentUser.id)
                p(class="profile-text")="Email: " + user.email
    br
    div
        h2(id="haunt-title")= "Haunt Lists"
        br
        div(id="deleteButtons")
            if(user && user.id == currentUser.id)
                button(id="create") Create a Hauntlist
                button(id="delete") Delete a Hauntlist
        ul(id="listOfHauntlsits")
            if (hauntlists.length)
                each hauntlist in hauntlists
                    div(class="checkBoxes-line")
                        li(id=hauntlist.id class="hauntlistLi")
                            a(href="/hauntlists/" + hauntlist.id class="hauntlistLink")= hauntlist.title + " (" + hauntlists.length + ")"
            else
                p= "No haunt lists to show yet!"
    div(id="createHauntlistPopup" class="hide")
        div(id="popupInputs")
            span(id="closePopup") &times;
            ul(id="errors")
            h2 Create a Hauntlist
            form(action="/hauntlists", method="post")
                label(for="title") Title:
                input(type="text" name="title" id="newHauntlistInput")
                button(id="newHauntlistButton") Create Hauntlist

    script(src="/javascripts/profile.js")

block footer
