extends layout.pug
include utils.pug

block content
    h1= "Leave a review"
    +error

    if (!locals.authenticated)
        p= "You must be logged in to leave a review."
    else
        form(action='/reviews' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='userId' value=user.id)
            input(type='hidden' name='hauntId' value=haunt.id)
            div(id="rating-container")
                input(type= "radio", name= "score", value="5", id="5")
                label(for= "5") ☆
                input(type= "radio", name= "score", value="4", id="4")
                label(for= "4") ☆
                input(type= "radio", name= "score", value="3", id="3")
                label(for= "3") ☆
                input(type= "radio", name= "score", value="2", id="2")
                label(for= "2") ☆
                input(type= "radio", name= "score", value="1", id="1")
                label(for= "1") ☆
            div(class= "form")
            block content
                label(for= "review") Create a review
                textarea(class= "review", name="review" placeholder= "This place is great because...")
                button Submit
                a(href='/haunts/' + haunt.id class='btn btn-cancel') Cancel


//- check if form action path is correct
//- Line 18 after submit should href to the haunts/:id page
