extends layout
append head
  link(rel="stylesheet" href="/stylesheets/haunts.css")
block content
  div(class="topDiv")
    div(class="topLeftDiv")
      img(src='/images/image-' + haunt.id + '.jpeg' alt='image')
    div(class="topRightDiv")
      h2=haunt.title
      p="Score: " + haunt.score
      p Description:
      p=haunt.description
  div(class="bottomDiv")
    each review in reviews
      div
        p= "Score:" + review.score
        p Review:
        p= review.description
