extends layout
append head
  link(rel="stylesheet" href="/stylesheets/specific-haunt.css")
  script(src="/javascripts/haunt.js")
block content
  div(class="topDiv")
    div(class="topLeftDiv")
      img(src='/images/image-' + haunt.id + '.jpeg' alt='image')
    div(class="topRightDiv")
      h2=haunt.title
      if(locals.authenticated)
        div(id="buttons")
          div(id="addToHauntlist")
            div(id="dropdown")
              button(id="dropdownButton") Add To Hauntlist
              div(id="dropdown-hauntlists" class="dropdown hide")
                if(hauntlists.length)
                  each hauntlist in hauntlists
                      button(type="button" class="dropdown" value= hauntlist.id)= hauntlist.title
                else
                  p No hauntlists yet!


          a(href="/reviews/new/" + haunt.id)
            button Create a review
      p="Score: " + haunt.score
      p Description:
      p=haunt.description
  div(id='divider')
  div(class="bottomDiv")
    each review in reviews
      div
        div(class="scoreName")
          p
            a(href="/users/" + review.userId)= review.User.fullName
            if (user && user.id == review.userId)
                a(href="/reviews/edit/" + review.id)
                  button(id="edit-button" name=review.id) Edit Review
          p(id='score')= "Score:" + review.score
        div(class="reviewText")
          p= review.review
